<div class="answer">
  <li>
    <p>回答者<%= link_to answer.name, user_path(answer.user_id), class: 'btn btn-link btn-sm' %></p>
    <p class="content"><%= answer.content %></p>
    <p>
      <% if controller.controller_name == 'users' && controller.action_name == 'show' %>
        <%= link_to "質問を見る", question_path(answer.question_id), class: 'btn btn-info btn-sm' %>
      <% end %>
      <% if logged_in? %>
        <% if current_user.id == answer.user_id %>
          <%= link_to "削除する", answer_path(answer.answer_id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
      <% end %>
    </p>
  </li>
</div>