<div class="row">
  <div class="col-md-10">
    <% if @questions.any? %>
      <%= will_paginate @questions, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      <ol>
        <%= render partial: "questions/question", collection: @questions %>
      </ol>
      <%= will_paginate @questions, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <% end %>
  </div>
</div>
