 <footer class="d-flex justify-content-between flex-wrap bg-dark p-4">
  <ul class="list-inline">
    <li class="list-inline-item pl-2 border-left border-light">
      <a href="" class="text-white">listitem1</a>
    </li>
    <li class="list-inline-item pl-2 border-left border-light">
      <a href="" class="text-white">listitem2</a>
    </li>
    <li class="list-inline-item pl-2 border-left border-light">
      <a href="" class="text-white">listitem3</a>
    </li>
    <li class="list-inline-item pl-2 border-left border-light">
      <a href="" class="text-white">listitem4</a>
    </li>
  </ul>
  
  <div class="text-white">
    <small>&copy;Your Title</small>
  </div>
</footer>